

<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" asp-action="Index" asp-controller="Chennel">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Chennel">
            <i class="fas fa-fw fa-users"></i>
            <span>Channels</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Quiz">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Quiz</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="video-page.html">
            <i class="fas fa-fw fa-video"></i>
            <span> Live class</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="CreateVideo" asp-controller="Video">
            <i class="fas fa-fw fa-cloud-upload-alt"></i>
            <span>Upload Video</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            <i class="fa-regular fa-right-from-bracket"></i>
            <span>Message </span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" asp-action="login" asp-controller="Video">Login</a>
            <a class="dropdown-item" asp-action="register" asp-controller="Video">Register</a>
            <!-- Log out option-->
            <a class="dropdown-item" href="forgot-password.html">Log out</a>
            <div class="dropdown-divider"></div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="history-page.html">
            <i class="fas fa-fw fa-history"></i>
            <span>History Page</span>
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <i class="fas fa-fw fa-list-alt"></i>
            <span>Categories</span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="categories.html">Movie</a>
            <a class="dropdown-item" href="categories.html">Music</a>
            <a class="dropdown-item" href="categories.html">Television</a>
        </div>
    </li>

</ul>