




<div class="container">
    <h1 class="text-center mt-5">Quiz Game</h1>
    <div class="card mt-4" id="questionCard">
        <div class="card-body">
            <h5 class="card-title" id="questionTitle">Test your knowledge</h5>
            <div id="quizContainer">
            </div>
        </div>
    </div>
</div>
