@model IEnumerable<WebApplication8.Models.FileManager.FileManager>

<div class="folder-list">
    @foreach (var folder in Model)
    {
        <div class="folder" data-id="@folder.Id">@folder.Name</div>
    }
</div>

<button id="addFolderButton">Add Folder</button>

@section Scripts {
    <script src="~/js/site.js"></script>
}
<script>

  

    $(document).ready(function () {
        $('#addFolderButton').click(function () {
            var folderName = prompt("Enter the name of the new folder:");
            if (folderName) {
                $.post('/FileManager/AddFolder', { folderName: folderName }, function (data) {
                    if (data.success) {
                        $('.folder-list').append('<div class="folder" data-id="' + data.folderId + '">' + folderName + '</div>');
                    }
                });
            }
        });

        $(document).on('click', '.folder', function () {
            var folderId = $(this).data('id');
            $.get('/FileManager/GetContents/' + folderId, function (data) {
                console.log(data);
            });
        });
    });



</script>