





<div style="display:none;" id="notifaction-container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Notifaction messages</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p  class="card-text" id="title text-notify"> </p>
            <p  class="card-text" id="message"></p>
            <p  class="card-text" id="email"></p>
        </div>
    </div>
</div>

<style>
    #text-notify {
        font-size: 12px;
        font-weight: 200;
        
    }
</style>

<!--


<div class="notification-container" id="notifaction-container">
    <h3>
        Notifications
        <i class="material-icons dp48 right">settings</i>
    </h3>
    <input class="checkbox" type="checkbox" id="title" value="small" checked />
    <label class="notification new" for="title" id="title"><i class="material-icons dp48 right">clear</i> <span id="titleText">Title</span></label>

    <input class="checkbox" type="checkbox" id="message" value="small" checked />
    <label class="notification new" for="message"><i class="material-icons dp48 right">clear</i> <span id="messageText">Message</span></label>

    <input class="checkbox" type="checkbox" id="email" value="small" checked />
    <label class="notification" for="email" id="email"><i class="material-icons dp48 right">clear</i> <span id="emailText">Email</span></label>


</div>

-->
