@model WebApplication8.Models.Video.Video;

@{
    ViewData["Title"] = "Create";
}

<h2 class="mb-5 text-center">Create New Video</h2>

<div class=" w-200">
    <div class="col d-flex justify-content-center align-items-center">

        <form asp-action="CreateVideo" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="VideoTitle"></label>
                <input asp-for="VideoTitle" class="form-control" />
                <span asp-validation-for="VideoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate"></label>
                <input asp-for="CreatedDate" type="date" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoFile"></label>
                <input asp-for="VideoFile" type="file" class="form-control" />
                <span asp-validation-for="VideoFile" class="text-danger"></span>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>



